@model IEnumerable<PracticeApp.Models.Product>

@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Happy Skincare Local Co.</h1>
        <h4>Monday-Sunday 8am-6pm</h4>
    </div>

    <section>
        <h5>Trending Products</h5>
        @foreach (var item in Model)
        {
            <!-- Product Card -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src=@Html.DisplayFor(modelItem=> item.Image) alt=@Html.DisplayFor(modelItem=> item.Name)>
                            <span class="card-title">@Html.DisplayFor(modelItem => item.Name)</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            <p>@Html.DisplayFor(modelItem => item.Price)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</body>
</html>
